<ion-view title="All Home's">
    <ion-content padding="true" class="has-header">
        <h4>All Homes List</h4>
        <div class="list">
            <a class="item item-thumbnail-left" href="#" ng-repeat="home in allHomes.homesList">
                <img src="{{}}">
                <h2>{{home.name}}</h2>
                <p>{{home.owner_mail}}</p>
                <i class="icon ion-ios-telephone-outline"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
<!-- <ion-list>
            <ion-item ng-repeat="home in allHomes.homesList" class="item-thumbnail-left">
                <img>
                <h2>{{home.name}}</h2>
                <p>{{home.owner_mail}}</p>
            </ion-item>
        </ion-list> -->
