<ion-view title="Home Details">
    <ion-content padding="true" class="has-header has-footer">
        <h4>Your home details please !!</h4>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Your sweet home name">
            </label>
            <label class="item item-input" name="email">
                <input type="email" placeholder="Email to mail you">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="House/Flat No.">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="locality address">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="town/city">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="state">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Pin coder">
            </label>
        </form>
        <button class="button button-stable button-block ">Submit</button>
    </ion-content>
</ion-view>