<ion-view view-title="My Home">
    <ion-content>
        <div class="hero " style="background-image: url('./img/bg.png');">
            <div class="content">
                <div class="avatar" style="background-image: url('./img/daenerys.jpg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Latest Buzz</h4>
        <!-- <div class="list animate-fade-slide-in-right"> -->
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i> Check mail
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-chatbubble-working"></i> Call Ma
                <i class="icon ion-ios-telephone-outline"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
